@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.imagen:hover {
  transform: rotate(360deg);
  transition: all 1s;
}